In [1]:
import pandas as pd

In [2]:
def max_value():        
    with open('gyro_record_20190626-153444.csv', 'r') as f:
        lines = f.readlines()[1:]
        for bucket in range(0, len(lines) - 49, 49):
            x = []
            y = []
            for idx in range(bucket, bucket + 49):
                line = lines[idx].split(',')
                x.append(float(line[4]))
                q = max(x)
                y.append(q)
            return y
    
def min_value():
    with open('gyro_record_20190626-153444.csv', 'r') as f:
        lines = f.readlines()[1:]
        for bucket in range(0, len(lines) - 49, 49):
            x = []
            y = []
            for idx in range(bucket, bucket + 49):
                line = lines[idx].split(',')
                x.append(float(line[4]))
                q = min(x)
                y.append(q)
            return y

In [3]:
M = max_value()
m = min_value()
M_value = pd.DataFrame(M)
m_value = pd.DataFrame(m)

In [4]:
def run_out_value():
    with open('gyro_record_20190626-153444.csv', 'r') as f:
        lines = f.readlines()[1:]
        for bucket in range(0, len(lines) - 49, 49):
            for idx in range(bucket, bucket + 49):
                mean = (M_value - m_value) / len(lines)
                return mean

In [5]:
run_out_value()

           0
0   0.000000
1   0.002725
2   0.003815
3   0.004360
4   0.004905
5   0.004905
6   0.004905
7   0.004905
8   0.004905
9   0.004905
10  0.004905
11  0.004905
12  0.004905
13  0.004905
14  0.004905
15  0.004905
16  0.004905
17  0.004905
18  0.004905
19  0.004905
20  0.004905
21  0.004905
22  0.004905
23  0.004905
24  0.005147
25  0.005147
26  0.005147
27  0.005147
28  0.005207
29  0.005207
30  0.005207
31  0.005207
32  0.005207
33  0.005207
34  0.005207
35  0.005207
36  0.005207
37  0.005207
38  0.005207
39  0.005207
40  0.005207
41  0.005207
42  0.005207
43  0.005207
44  0.005207
45  0.005207
46  0.005207
47  0.005207
48  0.005207